VITE_AUTHOR_NAME=@YourName
VITE_TELEGRAM_URL=https://t.me/yourusername
VITE_TIKTOK_URL=https://www.tiktok.com/@yourusername
VITE_GMAIL=your@email.com
VITE_GITHUB_URL=https://github.com/yourusername
VITE_GITHUB_REPO_URL=https://github.com/yourusername/your-repo
VITE_CLONE_SSH=git@github.com:yourusername/your-repo.git
VITE_CLONE_HTTPS=https://github.com/yourusername/your-repo.git
